body {
        margin: 0;
        padding: 8px;
        margin-bottom: auto;

     }


#infoban { margin-top: 30px; }

#infoban img  {
        display: block;
        margin:0px auto;
        border:0px;
     }



#advert  {
        display: block;
        margin:0px auto;
        width:700px;
     }

#advert img  {
        margin:10px;
     }


html, body {

        background-color: #eee;
        color: #333333;
        font-family: "Trebuchet MS",Trebuchet,tahoma,serif;
           }


h1 {
display:block;
color: #996793;
text-align:center;
font-size:24px;
margin:8px 3px;

}


#clock{float:right;}


#slides{
background:black;
height:500px;
}

#slides img{
display: block;
margin: auto 0px;
width:100%;
}


#djs{display:block;overflow:hidden;padding:0px 100px;text-align:center;}
#djs b{margin:2px;padding:5px;}


#slides, #shed, .ballon{border:1px solid #BBB;background-color:#fcfcfc;border-radius:10px;margin:20px auto; width:90%;overflow:hidden;padding: 10px 10px 30px 10px;}


#shed{
padding:10px;
}


.feeds{
overflow:hidden;
padding:0px;
}

.newsright{display:block}
.newsbottom{display:block;}

#kookareque,#newsfeed,#vnuchaev{
border:1px solid #BBB;background-color:#fcfcfc;border-radius:10px;overflow:hidden;padding: 0px 0px 30px 0px;}

#newsfeed{
padding:0px;
font-size:10px;
font-family:sans-serif;
text-align:center;
margin-top:3px;
}

#newsfeed h1{
font-size:20px;
margin:10px 1px;
}

#newsfeed p{
border-radius:7px;
background:#f6f6f6 url("/holder.png");
background-repeat:repeat-x;
text-align:left;
color:#445566;
margin:2px 2px;
padding:2px;
}


#newsfeed a{
white-space:nowrap;
font-size:11px;
color:#008cf0;
display:block;
overflow:hidden;
padding:0px;
margin:0px;
}



#kookareque p{
background:#f6f6f6 url("/holder.png");
background-repeat:repeat-x;
display:block;
margin:5px 10px;
overflow:hidden;
padding:10px;
border-radius:10px;
}

#kookareque p.aa{
background:#FEE;
margin:10px 0px;
padding:20px;
border:0px;
border-radius:0px;
color:black;
font-size:1.2em;
}




#kookareque .userpost {
color: #008cf0;
}

#kookareque img{margin:2px;border:1px solid #ddd;border-radius:10px;}
#kookareque .ava{margin:-10px 15px 0px -10px; max-width: 60px;max-height: 100px;}
#kookareque .grava{margin:-10px -10px 0px 3px;}


.dj{
color:#cc0000;
font-weight:bold;
}

.user_id{
color: #996793;
font-weight:bold;
}


#warn { 
background-color: #FCFCFC;
border: 2px solid #770000;
border-radius: 7px;
margin: 0px 50px;
padding: 10px 50px;
 }


.l80{width:60%;float:left;margin:3px 2px;}

.l90{margin:0px auto; width:90%}


#bh{
display:block;
margin:20px auto;
text-align:center;
}
 

#warn h1 { margin: 0.25em 0; 
text-align: center;
font-size:25px;}
