body {
    margin: 0px;
    padding: 8px;
    margin-bottom: auto;
}
img{border:0px}


html, body {
    background-color: #eee;
    color: #333333;
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif;
}

a.rolloverc {
    background: url(/imgs/but.gif); 
    display: block; 
    width: 146px; 
    height: 30px; 
   }
a.rolloverc:hover {
    background: url(/imgs/but1.gif); 
   }
a {
    color: #996793;
    text-decoration: none;
}

a:hover {
    color: #0066FF;
    text-decoration: none;
}

dl.menu dt {
    background:#DDDDDD;
    border: solid 1px #CCCCCC;
    border-radius: 5px;
    margin-top: 1em;
    padding-left: .5em;
    
}

dl.menu dd {
    margin: 0px;
    padding: 0px;
    margin-left: .5em;
    padding-left: .5em;
    border-left: solid 1px #CCCCCC;
}

#charsleft {
float: right;
padding: 0;
margin: 30px -0px 0 -20px;
background: 0;
border: none;
color: #996793;
}

.timestamp {
color: #aaa; font-size: 80%;
}

.userpost {
color: #996793;
}

.airlinks a{font-family: Arial, Helvetica, sans-serif; color: #333; text-decoration:underline; font-size:12px;}
.airlinks{font-family: Arial, Helvetica, sans-serif; color: #333; font-size:12px;}
