.player {
	margin-top: 3px;
	cursor: default;

	& > * {
		display: inline-block;
		vertical-align: middle;
		outline: 0;
	}

	.playpause {
		background-color: transparent;

		width: 1em;
		font-size: 25px;
		color: var(--prime-color);
		border: 0;

		cursor: pointer;
		@include transition(.3s);

		&:hover {
			color: var(--prime-color-15d);
		}

		&:focus {
			color: var(--prime-color-5d);
		}
	}

	.volume {
		width: 300px;
		margin-left: 5px;

		-webkit-appearance: none;

		&::-webkit-slider-runnable-track {
			height: 13px;
			background-image: linear-gradient(to right, var(--prime-color) 0%, var(--prime-color) var(--volume), transparent var(--volume), transparent 100%);
			margin: 6px 0 8px 0;
			border: 3px solid var(--prime-color-5d);
			border-radius: 9px;
			vertical-align: middle;
			cursor: pointer;
		}

		&::-webkit-slider-thumb {
			$track-size: 23px;

			-webkit-appearance: none;
			width: $track-size; height: $track-size;
			background-color: var(--prime-color-5d);
			margin-top: -8px;
			border-radius: 99px;
			cursor: pointer;

			@include transition(.3s);

			&:hover {
				background-color: var(--prime-color-10d);
			}

			&:active {
				background-color: var(--prime-color-15d);
			}
		}
	}
}
