@import 'inc/vars';
@import 'inc/mixins';

@include reset;

body {
	background-color: #f1f1f1;
	margin: 5px;
	font-size: 16px;
	overflow: hidden;
}

html.opera {
	@at-root body, & { width: 100%; height: 100%; }
	body { @include flexbox(column, center, center, auto) }
}

table {
	width: 450px;

	tr td {
		& {
			padding: 2px 0;
		}

		&:first-child {
			text-align: right;
		}
	}

	tr.title td {
		text-align: center;
		font-weight: 500;
	}
}

input {
	@at-root select, & {
		margin: 0 5px 0 10px;
		padding: 2px;
		width: 70px;
	}

	&[type='checkbox'] {
		width: auto;
	}
}

.save {
	text-align: center;
	margin-top: 5px;

	button {
		margin: 5px;
		padding: 2px 4px;
	}

	&Msg {
		display: none;
		color: red;
	}
}
