@import 'inc/vars';
@import 'inc/mixins';
@import 'fonts/style';

@include reset;

:root {
	--volume: 50%;
	--prime-color: $primeColor;
	--prime-color-5d: darken($primeColor, 5%);
	--prime-color-10d: darken($primeColor, 10%);
	--prime-color-15d: darken($primeColor, 15%);
}

body {
	width: 450px;
	background-color: #fff;
	font-size: 0;
	overflow: hidden;
}

.container {
	color: #000;
	font-size: 14px;
	@include user-select(none);
}

@import 'inc/popup__top-panel';

main {
	font-size: 0;

	& > div {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
	}

	$links-block-w: 100px;

	.links {
		width: $links-block-w;
	}

	.content {
		width: calc(100% - #{$links-block-w});
	}
}

@import 'inc/popup__tabs';
@import 'inc/popup__player';

.links {
	text-align: center;
	font-size: 25px;
	cursor: default;
}

a {
	text-decoration: none;
	color: var(--prime-color-5d);

	@include transition(.3s);

	&:visited {
		color: var(--prime-color-5d);
	}

	&:hover {
		color: var(--prime-color-15d);
	}

	&.options {
		display: block;
		font-size: .85em;
		margin-top: -5px;
		outline: 0;
	}
}

.section {
	&--title {
		font-weight: bold;
	}

	a {
		border-bottom: .5px dashed var(--prime-color);

		&:hover {
			border-bottom: .5px solid var(--prime-color-15d);
		}
	}

	p:last-child {
		margin-bottom: 5px;
	}
}
