@import 'mixins';

@include reset;

body {
	background-color: #f1f1f1;
	margin: 5px;
	font-size: 16px;
}

table {
	tr td {
		& {
			padding: 2px 0;
		}

		&:first-child {
			text-align: right;
		}
	}
}

input {
	@at-root select, & {
		margin-left: 10px;
		padding: 2px;
		width: 70px;
	}

	&[type='checkbox'] {
		width: auto;
	}
}

#save {
	margin: 5px;
	padding: 2px 4px;

	&Msg {
		display: none;
		color: red;
	}
}
