// main: ../popup.scss

.player {
	cursor: default;

	& > * {
		display: inline-block;
		vertical-align: middle;
	}

	.playpause {
		width: 1em;
		font-size: 25px;
		color: $primeColor;

		cursor: pointer;
		@include transition(.3s);

		&:hover {
			color: darken($primeColor, 15%);
		}
	}

	.volume {
		width: 300px;

		-webkit-appearance: none;

		&::-webkit-slider-runnable-track {
			height: 13px;
			background: linear-gradient(to right, $primeColor 0%, $primeColor var(--volume), transparent var(--volume), transparent 100%);
			margin: 10px 0 8px 0;
			border: 3px solid darken($primeColor, 5%);
			border-radius: 9px;
			vertical-align: middle;
			cursor: pointer;
		}

		&::-webkit-slider-thumb {
			$track-size: 23px;

			-webkit-appearance: none;
			width: $track-size; height: $track-size;
			background-color: darken($primeColor, 5%);
			margin-top: -8px;
			border-radius: 99px;
			cursor: pointer;

			@include transition(.3s);

			&:hover {
				background-color: darken($primeColor, 10%);
			}

			&:active {
				background-color: darken($primeColor, 15%);
			}
		}
	}
}
