$icomoon-font-path: "fonts" !default;

$icon-music: "\f001";
$icon-gear: "\f013";
$icon-home: "\f015";
$icon-volume-off: "\f026";
$icon-volume-up: "\f028";
$icon-play: "\f04b";
$icon-pause: "\f04c";
$icon-stop: "\f04d";
$icon-vk: "\f189";
$icon-google: "\f1a0";
$icon-chrome: "\f268";
$icon-firefox: "\f269";
$icon-opera: "\f26a";

